<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suhana-Safar | We name your Safar Suhana </title>
</head>

<body>
    <h2>Edit your Listing<h2>
    <form method="POST" action="/listings/<%=listing._id%>/?_method=PUT">
        <input name="Listing[title]" value="<%=listing.title%>" type="text"><br><br>
        <textarea name="Listing[discription]" type="text"><%=listing.discription%></textarea><br><br>

        <input name="Listing[image]" value="<%=listing.image%>"><br><br>
        <input name="Listing[price]" value="<%=listing.price%>" type="number"><br><br>
        <input name="Listing[location]" value="<%=listing.location%>" type="text"><br><br>
        <input name="Listing[country]" value="<%=listing.country%>" type="text"><br><br>
        <button>Edit</button>
    </form>
</body>
</html>